:root {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e3e7ec;
  background-color: #15181c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
  overscroll-behavior: none;
}

#app {
  width: 100%;
  margin: 0 auto;
}
